[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
colorama = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-cors = "*"
flask-migrate = "*"
psycopg = {extras = ["binary"], version = "*"}
sqlalchemy-serializer = "*"
geoalchemy2 = "*"
flask-restful = "*"
shapely = "*"
geojson = "*"
services = "*"
requests = "*"
psycopg2-binary = "*"
gunicorn = "*"
flask-mail = "*"
flask-limiter = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
pre-commit = "*"
pytest = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
